<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>BazarApp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

			<link rel="stylesheet" type="text/css" href="static/css/style.css"
	</head>
	<body >
<div id="page_main">
		<!-- Header -->
			<div id="header">
				<h1><a href="/">BazarApp</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/items">My items</a></li>
					</ul>
				</nav>
            </div>
    <div>
        Simple management of bazar
        <div>
</div>
    </body>
</html>
